.hi{
    /* background-color: rgba(174, 115, 230, 0.894); */
    background: linear-gradient(rgba(188, 124, 247, 0.841),rgba(188, 124, 247, 0.841),rgba(188, 124, 247, 0.841));
    background-size: 100%;
    height: 653px;
    text-align: center;
}
.we{
    width: 300px;
    margin-left: 500px;
/* padding-top: 30px; */
margin-top: 50px;
}
.w{
    width: 300px;
}
.kk{
    margin-left: 30px;
}
.hh{
    margin-left: 30px;
}
